<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="homepage.css">
</head>
<body>
    <div class="test-box">
        <div class='text-wrapper'>
            <h2 class='title'><%= text %></h2>
            <input class="text-box" type="text" onchange="handleChange" />
            <button id="submitText">
                Add Text
            </button>
        </div>
      </div>

      <script src="/js/homepage.js"></script>
</body>
</html>